################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductsApi/FileContentIndex/184991b3-5b6e-4adf-91db-c2e4e14eacae.vsidx
*.vsidx
*.db
*.db-shm
*.db-wal
*.v2
